precision: 32-true
logger:
  - class_path: pytorch_lightning.loggers.WandbLogger
    init_args:
      save_dir: logs
      project: CLARA
callbacks:
  - class_path: pytorch_lightning.callbacks.ModelCheckpoint
    init_args:
        verbose: True
  - class_path: pytorch_lightning.callbacks.LearningRateMonitor
  - class_path: callbacks.DeleteTempFilesCallback
  # - class_path: pytorch_lightning.callbacks.EarlyStopping
  #   init_args:
  #       patience: 5
  #       monitor: val_loss
  #       mode: min
  #       verbose: False
fast_dev_run: false
max_epochs: 1000
max_steps: -1
limit_train_batches: null
limit_val_batches: null
limit_test_batches: null
limit_predict_batches: null
overfit_batches: 0.0
val_check_interval: null
check_val_every_n_epoch: 1
log_every_n_steps: 1
accumulate_grad_batches: 5
gradient_clip_val: 1.0
# profiler: pytorch_lightning.profilers.AdvancedProfiler
# default_root_dir: s3://s-laion/knoriy/clara/checkpoints/